<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能租赁平台</title>
    <link rel="stylesheet" href="css/模板页面样式.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://www.rrzuji.com/zj_pc/v/layouts/main-sram-vue/index.css" rel="stylesheet">
    <link href="https://www.rrzuji.com/zj_pc/v/layouts/header-sram-vue/index.css" rel="stylesheet">
    <link href="https://www.rrzuji.com/zj_pc/v/layouts/footer-sram/index.css" rel="stylesheet">
    <link href="https://unpkg.com/view-design/dist/styles/iview.css" rel="stylesheet">
    <link href="https://www.rrzuji.com/js/swiper5/swiper.min.css" rel="stylesheet">
    <link href="https://www.rrzuji.com/zj_pc/s/sram/sram-ui_c90ac28.css" rel="stylesheet">
</head>
<body>
    <div class="whole">
        <!--头部一条-->
        <div class="header">
            <div class="flex-wrap content">
                <div class="flex-wrap header-left">
                    <div class="City_Select_Btn2 city-choose">
                        <span id="city-input" class="text">
                            <span class="icon-city-trig"></span>
                            <!-- (address.city).replace('市','') -->
                            杭州
                        </span>
                    </div>
                    <div class="flex-con">您好！欢迎来到智能租赁平台</div>
                    <div class="header-line"></div>
                </div>
                <div class="flex-con header-mid">
                    <a href="#" v-if="login" target="_blank" class="link-item">userData.center_link.label</a>
                    <a href="/customer-help/process" target="_blank" class="link-item">帮助中心</a>
                    <div class="header-line"></div>
                    <div class="phone-item">服务热线：<span>020-2805-0999</span></div>
                    <div class="phone-item">招商热线：<span>020-2818-7591</span></div>
                </div>
                <div class="flex-wrap flex-y-center header-right">
                    <template v-if="login">
                        <!-- <a href="/cart/index" target="_blank" class="flex-wrap flex-y-center shopping-cart">
                            <i class="icon-cart"></i>
                            <div class="cart-text">购物车</div>
                            <div v-if="data.cart_and_img.carts > 0" class="cart-num">{{data.cart_and_img.carts}}</div>
                        </a> -->
                        <Dropdown trigger="click" style="margin-left: 20px">
                            <a class="user-name" href="javascript:void(0)">
                                userData.username
                                <i class="icon-bottom"></i>
                            </a>
                            <!-- 注释掉后正常，原来没注释，不知为何<div class="ivu-select-dropdown" style="transform-origin: center top; position: absolute; will-change: top, left; top: 36px; left: 1277px;" x-placement="bottom"> -->
                                <DropdownMenu slot="list">
                                    <a class=" user-go" href="#" target="_blank" >用户中心</a>
                                    <a class=" user-go" href="#" target="_blank" >我的订单</a>
                                    <a class="Logout user-go">退出</a>
                                </DropdownMenu>
                            <!-- </div> -->
                        </Dropdown>
                    </template>
                    <template v-else>
                        <div class="register-btn" >注册</div>
                        <div class="header-line"></div>
                        <div class="login-btn" type="primary">您好，请登录</div>
                    </template>
                </div>
            </div>
            <br>
        <button @click="loginsub">测试用button</button> 
        </div>
        <!-- 正文内容 -->
        <div class="">
            <ul>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </ul>
        </div>
        <!-- 页脚 -->
        <div class="footer">
            <div class="footer-global-w-1200">
                <div class="page-security">
                    <div class="flex-wrap content">
                        <div class="flex-wrap flex-y-center flex-x-center security-item">
                            <i class="icon-security" style="background-image: url(https://img1.rrzuji.cn/assest/202008/SUPER5F295CC4DE1DD.png);"></i>
                            <div class="security-text">国家发改委信用租发起单位</div>
                        </div>
                        <div class="flex-wrap flex-y-center flex-x-center security-item">
                            <i class="icon-security" style="background-image: url(https://img1.rrzuji.cn/assest/202008/SUPER5F295CB276B1D.png);"></i>
                            <div class="security-text">支付宝明星小程序</div>
                        </div>
                        <div class="flex-wrap flex-y-center flex-x-center security-item">
                            <i class="icon-security" style="background-image: url(https://img1.rrzuji.cn/assest/202008/SUPER5F295CB6854A9.png);"></i>
                            <div class="security-text">阿里最佳小程序</div>
                        </div>
                        <div class="flex-wrap flex-y-center flex-x-center security-item">
                            <i class="icon-security" style="background-image: url(https://img1.rrzuji.cn/assest/202008/SUPER5F295CBF648A2.png);"></i>
                            <div class="security-text">蚂蚁金服投资平台</div>
                        </div>
                    </div>
                </div>
                <div class="footer-top">
                    <div class="sram-pull-left">
                        <div class="footer-about">
                            <dl class="footer-statement">
                                <dt><span>关于我们</span></dt>
                                <dd><a rel="nofollow" href="/about/us" target="_blank">平台介绍</a></dd>
                                <dd><a rel="nofollow" href="/about/join" target="_blank">加入我们</a></dd>
                                <dd><a rel="nofollow" href="/about/report" target="_blank">媒体报道</a></dd>
                                <dd><a rel="nofollow" href="/about/agreement" target="_blank">用户协议</a></dd>
                                <dd><a rel="nofollow" href="/about/agreement" target="_blank">隐私政策</a></dd>
                                <dd><a rel="nofollow" href="/about/disclaimer" target="_blank">免责声明</a></dd>
                                <dd><a rel="nofollow" href="/about/contact" target="_blank">联系我们</a></dd>
                            </dl>
                            <dl class="footer-statement">
                                <dt><span>我是租户</span></dt>
                                <dd><a rel="nofollow" href="/customer-help/process" target="_blank">租赁流程</a></dd>
                                <dd><a rel="nofollow" href="/customer-help/security" target="_blank">租赁保障</a></dd>
                                <dd><a rel="nofollow" href="/customer-help/deposit" target="_blank">押金支付/退还</a></dd>
                                <dd><a rel="nofollow" href="/customer-help/rent" target="_blank">租金支付</a></dd>
                                <dd><a rel="nofollow" href="/customer-help/coupon" target="_blank">租赁券使用</a></dd>
                                <dd><a rel="nofollow" href="/customer-help/invoice" target="_blank">发票开取</a></dd>
                                <dd><a rel="nofollow" href="/customer-help/free" target="_blank">免押金额度</a></dd>
                                <dd><a rel="nofollow" href="/customer-help/agreement" target="_blank">租赁服务协议</a></dd>
                            </dl>
                            <dl class="footer-statement" style="width: 125px;">
                                <dt><span>我是商家</span></dt>
                                <dd><a rel="nofollow" href="/server-help/condition" target="_blank">商家进驻</a></dd>
                                <dd><a rel="nofollow" href="/server/guide" target="_blank">为什么进驻</a></dd>
                                <dd><a rel="nofollow" href="/server-help/process" target="_blank">进驻流程</a></dd>
                                <dd><a rel="nofollow" href="/server-help/rule" target="_blank">进驻协议</a></dd>
                                <dd><a rel="nofollow" href="/server-help/evaluation" target="_blank">商家评价体系</a></dd>
                                <dd><a rel="nofollow" href="/server-help/commission" target="_blank">交易佣金</a></dd>
                                <dd><a rel="nofollow" href="/server-help/withdraw" target="_blank">押金/租金提现</a></dd>
                            </dl>
                            <dl class="footer-statement">
                                <dt><span>发现</span></dt>
                                <dd><a href="/article/index" target="_blank">资讯中心</a></dd>
                                <dd><a href="https://www.rrzuji.com/shops/index" target="_blank">旺铺中心</a></dd>
                                <dd><a rel="nofollow" href="/discover/invite" target="_blank">推荐好友</a></dd>
                                <dd><a href="/site/map" target="_blank">网站地图</a></dd>
                                <dd><a rel="nofollow" href="http://www.hyizu.com/" target="_blank">好易租</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="sram-pull-right footer-right">
                        <div class="footer-phone-logo">
                            <div class="footer-phone-item">
                                <div class="footer-phone-item-text">服务热线：</div>
                                <div class="footer-phone-item-num">020-2805-0999</div>
                            </div>
                            <div class="footer-phone-item">
                                <div class="footer-phone-item-text">招商热线：</div>
                                <div class="footer-phone-item-num">020-2818-7591</div>
                            </div>
                            <img class="footer-phone-img" src="#" alt="智能租赁平台logo">
                        </div>
                        <div class="footer-code">
                            <div class="wechat-code">
                                <div class="img">
                                    <img class="img-lazyload-footer" alt="智能租赁平台APP（二维码）" src="#" width="112" height="112">
                                </div>
                                <p class="desc">智能租赁平台APP</p>
                            </div>
                            <div class="app-code">
                                <div class="img">
                                    <img class="img-lazyload-footer" alt="智能租赁平台公众号（二维码）" src="#" width="112" height="112">
                                </div>
                                <p class="desc">智能租赁平台公众号</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sram-clearfix footer-bottom">
                Copyright ©####-#### 智能租赁平台 版权所有,增值电信许可证：########,<a href="#" target="_blank" rel="nofollow" style="color:#6d7682;">粤ICP备#######号</a>,本站由##云提供计算与安全服务
            </div>
        </div>
    </div>
        <!-- 以下处理script内容 -->

        <!-- 官网提供的Vue在线地址 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- 官网提供的AXIOS在线地址 -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- 自己的JS -->
        <script src="js/vue.min.js"></script>
        <!-- 自己的JS -->
        <script src="js/iview.min.js"></script>
        <!-- 官网的 iView -->
        <script src="https://unpkg.com/view-design/dist/iview.min.js"></script>
</body>
</html>